* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

div {
    border-radius: 25px;
}

.div {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #e90101;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 40%;
    opacity: 0.8;
    animation: rotate 4.2s infinite ease-in-out;
}
.div2 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #0011ff;
    width: 100px;
    height: 100px;
    top: 43%;
    left: 47%;
    opacity: 0.8;
    animation: rotate 2.2s infinite ease-in-out;
}
.div3 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #ffd000;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 35%;
    opacity: 0.8;
    animation: rotate 0.3s infinite ease-in-out;
}
.div4 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #16ff01;
    width: 100px;
    height: 100px;
    top: 55%;
    left: 49%;
    opacity: 0.8;
    animation: rotate2 5s infinite;
}
.let {
    color: white;
    font-size: 2vw;
    word-wrap: normal;
    overflow-wrap: break-word;
}

@keyframes rotate {
    0% {
        transform: perspective(120px)
        rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px)
        rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px)
        rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes rotate2 {
    0%{
        transform: perspective(120px)
        rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px)
        rotateZ(-180.1deg);
    }
    75% {
        transform: perspective(120px)
        rotateZ(-90deg);
    }
    100% {
        transform: perspective(120px)
        rotateZ(1080deg);
    }
    
}